*.obj
*.dll
*Debug
*Release
*ipch
*.user
*.pdb
*.zip
*.dll
*.7z
*.suo
*.ncb
*.sdf
*.tlog
*.idb
*.log*
*.opensdf
*.pyc
*.swp
.settings
.idea
ssh
keys/*
Output/*.lib
/.project
/.pydevproject
./merchant_lib/config_dev.py
.DS_Store
/test/debug.py
venv/*
.fuse_hidden*
.tlog.*
deploy_config/docker/development/pycharm/data/solr/
src/
~/
en_US.json
vi_VN.json

